[type="date"] {
  background: #fff 97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

label {
  display: block;
}

.detail_ul {
  list-style: none;
}
.detail_ul li,
.detail_ul h4 {
  margin-top: 1rem;
  margin-right: 0.3rem;
}
.detail_ul h4 {
  margin-bottom: 0.3rem;
}
