#login {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50001;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  width: 50%;
  height: 80%;
  padding: 2rem 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-div {
  display: flex;
  flex-direction: column;
}

#signin-btn {
  margin: 2rem 0;
  font-size: 1.3rem;
  color: white;
  padding: 1rem 5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 5px;
  transition: all 0.1s;
}
#signin-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

input {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1.3rem;
  border-radius: 5px;
}
input:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
#login-h1 {
  color: rgba(0, 0, 0, 0.753);
  font-size: 3rem;
}

label {
  color: rgba(0, 0, 0, 0.753);
  font-size: 1rem;
  margin: 0;
  padding-top: 2rem;
}

@media screen and (max-width: 911px) {
  #login {
    width: 90%;
  }
  button {
    padding: 1rem 3.5rem;
  }
}
