/* map's sizes */
.leaflet-container {
  width: 70%;
  height: 90vh;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}
/* popup-font */
.leaflet-popup-content > div {
  display: flex;
  flex-wrap: wrap;
}
.leaflet-popup-content > div > h3 {
  color: rgb(77, 77, 141);
  font-family: "Lora", serif;
  font-size: 20px;
}
.leaflet-container a.leaflet-popup-close-button {
  color: rgb(77, 77, 141);
}
.map-title {
  margin: 2px;
  padding: 2px;
  text-shadow: 2px 1px 7px rgb(182, 88, 88);
}
.sr-only {
  display: none;
}
