body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: rgb(59, 59, 59);
}

#matak-icon {
  z-index: 5000;
  width: 40px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  pointer-events: none;
}

#add-icon {
  z-index: 5000;
  position: fixed;
  font-size: 4rem;
  top: 30px;
  left: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: transform 0.1s ease;
}
#add-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.frosted {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.MuiButton-containedSecondary:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.466);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* for date picker */
.MuiPopover-root {
  z-index: 5003 !important;
}

.menu-transition-enter {
  transform: translateX(-100%);
}
.menu-transition-enter-active {
  transform: translateX(0);
  transition: all 230ms;
}
.menu-transition-exit {
  transform: translateX(0);
}
.menu-transition-exit-active {
  transform: translateX(-100%);
  transition: all 230ms;
}

a {
  color: black;
  text-decoration: none;
}

/*                 my-account                   */
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  display: inline;
  text-align: center;
}
.profile-img img {
  width: 30%;
  height: 60%;
}
.profile-img .file {
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: -2%;
  width: 30%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.user-details {
  margin: -20% 0 0 40%;
}

.user-details .organization-name {
  font-style: italic;
  color: #55595eb8;
  margin-top: 5%;
}
.change-password {
  display: grid;
  position: relative;
  width: 40%;
}
